<template name="navigation">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tomatogether</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {{ #if currentUser }}
                <li class="hidden-sm hidden-xs">{{ > avatar user=currentUser shape="circle" }}</li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/user/edit">Preferences</a></li>
                {{ /if }}
                {{ > entryAccountButtons }}
            </ul>
        </div>
    </div>
</template>
