<template name="home">
    <div class="jumbotron no-navbar-padding home-background-cover">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center vertical-space-jumbo">
                        <h1>Tomatogether</h1>
                        <p class="lead">
                            Share your pomodoros, be more productive
                        </p>
                        <p>
                            The Pomodoro Technique is awesome. Now you can share
                            your Pomodoros with your team.
                        </p>
                        <p class="vertical-space">
                            <a class="btn btn-primary btn-lg" href="/sign-up" role="button">
                                Start here &nbsp;<i class="fa fa-caret-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container marketing">

<!-- START THE FEATURETTES -->
        <div class="row featurette">

            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Avoid interruptions</h2>
                <p class="lead">
                    An innocent tap on the shoulder takes you out of your flow,
                    and you lose focus. A quick question turns into a 20 minute
                    discussion. Sound familiar?
                </p>
                <p>
                    Sharing your Pomodoro timer with your team means they know
                    when you're interruptible, and when you've got your head down.
                </p>
            </div>
            <div class="col-md-5">
                <img alt="500x500" class="featurette-image img-responsive center-block" data-holder-rendered="true" data-src="holder.js/500x500/auto"
                    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzUwMHg1MDAvYXV0bwpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1MTgzYjIzNTA4IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTUxODNiMjM1MDgiPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iMTg1LjEzMjgxMjUiIHk9IjI2MS4xIj41MDB4NTAwPC90ZXh0PjwvZz48L2c+PC9zdmc+">
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">

            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">
                    Keep in sync</h2>
                <p class="lead">
                    Pomodoro works best when your whole team is sync'd up: line
                    up your timers and breaks to stay accountable and keep it fun.
                </p>
                <p>
                    Our &ldquo;follow&rdquo; feature helps you keep pace with
                    the pack.
                </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img alt="500x500" class="featurette-image img-responsive center-block" data-holder-rendered="true" data-src="holder.js/500x500/auto"
                    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzUwMHg1MDAvYXV0bwpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1MTgzYjI3ODA5IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTUxODNiMjc4MDkiPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iMTg1LjEzMjgxMjUiIHk9IjI2MS4xIj41MDB4NTAwPC90ZXh0PjwvZz48L2c+PC9zdmc+">
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">

            <div class="col-md-7">
                <h2 class="featurette-heading">
                    Share what you're working on</h2>
                <p class="lead">
                    Writing a tiny note to show what you're working on for this
                    timer helps you stay accountable and focused, and helps to
                    keep your colleagues in the loop
                </p>
            </div>
            <div class="col-md-5">
                <img alt="500x500" class="featurette-image img-responsive center-block" data-holder-rendered="true" data-src="holder.js/500x500/auto"
                    src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgdmlld0JveD0iMCAwIDUwMCA1MDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzUwMHg1MDAvYXV0bwpDcmVhdGVkIHdpdGggSG9sZGVyLmpzIDIuNi4wLgpMZWFybiBtb3JlIGF0IGh0dHA6Ly9ob2xkZXJqcy5jb20KKGMpIDIwMTItMjAxNSBJdmFuIE1hbG9waW5za3kgLSBodHRwOi8vaW1za3kuY28KLS0+PGRlZnM+PHN0eWxlIHR5cGU9InRleHQvY3NzIj48IVtDREFUQVsjaG9sZGVyXzE1MTgzYjIyMzA0IHRleHQgeyBmaWxsOiNBQUFBQUE7Zm9udC13ZWlnaHQ6Ym9sZDtmb250LWZhbWlseTpBcmlhbCwgSGVsdmV0aWNhLCBPcGVuIFNhbnMsIHNhbnMtc2VyaWYsIG1vbm9zcGFjZTtmb250LXNpemU6MjVwdCB9IF1dPjwvc3R5bGU+PC9kZWZzPjxnIGlkPSJob2xkZXJfMTUxODNiMjIzMDQiPjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjRUVFRUVFIi8+PGc+PHRleHQgeD0iMTg1LjEzMjgxMjUiIHk9IjI2MS4xIj41MDB4NTAwPC90ZXh0PjwvZz48L2c+PC9zdmc+">
            </div>
        </div>
        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
    </div>

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center vertical-space-jumbo">
                        <h1>Ready to get started?</h1>
                        <p class="lead">
                            Share your pomodoros, be more productive
                        </p>
                        <p class="vertical-space">
                            <a class="btn btn-primary btn-lg" href="/sign-up" role="button">
                                Sign up now &nbsp;<i class="fa fa-caret-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>
