/** global helpers **/
.vertical-space {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.vertical-space-jumbo {
	margin-top: 5em;
	margin-bottom: 5em;
}

.no-navbar-padding {
	margin-top: -20px;
}

/** navbar **/
.navbar-header a.navbar-brand {
	background-position: 10px center;
	background-repeat: no-repeat;
	background-size: 30px;
	padding-left: 50px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

/** icons **/
.icon-huge {
	font-size: 20em;
}

.icon-inline {
	vertical-align: middle;
}

.icon-padding {
	padding: 20px;
}

.icon-space-right {
	margin-right: 0.5em;
}

.icon-space-left {
	margin-left: 0.5em;
}

/** timer **/
.own-timer .time-remaining {
	font-size: 3em;
}

/** team timers **/
.team-member-timers-container {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

.team-member-timers-container:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

/** user preferences **/
.preferences-form {
	margin-top: 1em;
}

/** home page **/
.home-background-cover {
	background-image: url('/images/tomatoes-cover.jpg');
	background-size: cover;
}

.site-name {
	text-transform: uppercase;
    letter-spacing: 15px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
