.navbar .avatar {
    margin-top: 4px;
}

.navbar-header a.navbar-brand {
	background-position: 10px center;
	background-repeat: no-repeat;
	background-size: 30px;
	background-image: url('/images/tomatogether-logo.png');
	padding-left: 50px;
	text-transform: uppercase;
	letter-spacing: 4px;
}
