<template name="insertTimerForm">
    {{ #unless isInFollowerMode }}
    <form id="insert-timer-form" class="form-horizontal">
    <fieldset>

    <!-- Form Name -->
    <legend>New timer</legend>

    <!-- Appended Input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="work-minutes">Work</label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="work-minutes" name="work-minutes" class="form-control" placeholder="25" type="number" value="{{ suggestedWorkDuration }}" required="">
          <span class="input-group-addon">mins</span>
        </div>

      </div>
    </div>
    <!-- Appended Input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="break-minutes">Break</label>
      <div class="col-md-4">
        <div class="input-group">
          <input id="break-minutes" name="break-minutes" class="form-control" placeholder="5" type="number" value="{{ suggestedBreakDuration }}" required="">
          <span class="input-group-addon">mins</span>
        </div>

      </div>
    </div>
    <!-- Checkbox -->
    <div class="form-group">
      <div class="checkbox col-md-offset-4">
        <label>
          <input type="checkbox" name="autostart" checked="true"> Start timer immediately
        </label>
      </div>
    </div>
    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="insert-timer-form-submit"></label>
      <div class="col-md-4">
        <button id="insert-timer-form-submit" name="insert-timer-form-submit" class="btn btn-primary insert-timer-form-submit">Create timer</button>
      </div>
    </div>

    </fieldset>
    </form>
    {{ else }}
        <p>You must exit follower mode to start a new timer. </p>
        {{ > toggleFollowerMode }}
    {{ /unless }}

</template>
