<template name="timer">
    {{ #if completedOrStopped }}
        {{ #if ownTimer }}
            <div class="insert-timer-container well col-xs-6 col-xs-offset-3">
                {{ > insertTimerForm }}
            </div>
        {{ else }}
            <p>No active timer</p>
        {{ /if }}
    {{ else }}
        <div class="timer-container {{ #if ownTimer }} own-timer {{ /if }}" id="timer-{{_id}}">
            <div class="status-container">
                <p>
                {{ #if showProgressInformation }}
                    <div class="text-center"><span class="time-remaining">{{ timerPhase }}: {{ timeRemaining }} left</span> <span class="text-muted pull-right">{{{ statusFormatted }}}</span></div>
                {{ else }}
                    <div class="text-center"><span class="time-remaining">timer {{{ statusFormatted }}}</span></div>
                {{ /if }}
                </p>
            </div>
            <div class="progress-container">
                <div class="progress">
                  <div class="{{ progressbarClasses phase="work" }}" style="width: {{percentageWorkComplete}}%;">
                    <span class="sr-only">{{percentageWorkComplete}}% Complete (work)</span>
                  </div>
                  <div class="{{ progressbarClasses phase="break" }}" style="width: {{percentageBreakComplete}}%;">
                    <span class="sr-only">{{percentageBreakComplete}}% Complete (break)</span>
                  </div>
                </div>
            </div>
            <div class="controls">
                {{ #if ownTimer }}
                    {{ #unless isInFollowerMode }}
                    <div class="btn-toolbar pull-right" role="toolbar" aria-label="timer controls">
                        <div class="btn-group btn-group-lg" role="group" aria-label="start or pause timer">
                            <button class="btn btn-primary start-timer" disabled="{{ notStartable }}" data-toggle="tooltip" data-placement="bottom" title="Start timer" data-container="#timer-{{_id}}">
                                <i class="fa fa-play"></i><span class="sr-only">Start timer</span>
                            </button>
                            <button class="btn btn-primary pause-timer" disabled="{{ notPausable }}" data-toggle="tooltip" data-placement="bottom" title="Pause timer" data-container="#timer-{{_id}}">
                                <i class="fa fa-pause"></i><span class="sr-only">Pause timer</span>
                            </button>
                        </div>

                        <div class="btn-group btn-group-lg" role="group" aria-label="stop timer">
                            <button class="btn btn-warning stop-timer" disabled="{{ notStoppable }}" data-toggle="tooltip" data-placement="bottom" title="Stop (cancel) timer" data-container="#timer-{{_id}}">
                                <i class="fa fa-trash-o"></i><span class="sr-only">Stop timer</span>
                            </button>
                        </div>
                    </div>
                    {{ else }}
                        <div class="col-md-4 pull-right">
                            <p>You must exit follower mode to control your timer. </p>
                            {{ > toggleFollowerMode }}
                        </div>
                    {{ /unless }}
                {{ /if }}
            </div>
        </div>
    {{ /if }}
</template>
