<template name="timer">
    <div class="timer-container">
        <p>Timer id: {{ _id }}</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: {{percentageComplete}}%;">
            <span class="sr-only">{{percentageComplete}}% Complete</span>
          </div>
        </div>
        <div class="controls">
            {{ #if ownTimer }}
                <div class="btn-group">
                    <button class="btn btn-primary start-timer" disabled="{{ notStartable }}">
                        <i class="fa fa-play"></i><span class="sr-only">Start timer</span>
                    </button>
                    <button class="btn btn-primary pause-timer" disabled="{{ notPausable }}">
                        <i class="fa fa-pause"></i><span class="sr-only">Pause timer</span>
                    </button>
                    <button class="btn btn-primary stop-timer" disabled="{{ notStoppable }}">
                        <i class="fa fa-stop"></i><span class="sr-only">Stop timer</span>
                    </button>
                </div>
            {{ /if }}
        </div>
        {{ #if completedOrStopped }}
            {{ #if ownTimer }}
                <div class="insert-timer-container">
                    {{ > insertTimerForm }}
                </div>
            {{ /if }}
        {{ /if }}
    </div>
</template>