<template name="userPreferences">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div role="tabpanel">

<!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="active" role="presentation">
                            <a aria-controls="account" data-toggle="tab" href="#account" role="tab"><i class="fa fa-user fa-2x icon-inline icon-space-right text-muted"></i>Account
                            </a>
                        </li>
                        <li role="presentation">
                            <a aria-controls="notifications" data-toggle="tab" href="#notifications" role="tab">
                                <i class="fa fa-bell fa-2x icon-inline icon-space-right text-muted"></i>Notifications</a>
                        </li>
                        <li role="presentation">
                            <a aria-controls="timers" data-toggle="tab" href="#timers" role="tab">
                                <i class="fa fa-clock-o fa-2x icon-inline icon-space-right text-muted"></i>
                                Timers</a>
                        </li>
                    </ul>
<!-- Tab panes -->
                    <div class="tab-content row" id="forms-container">
                        <div class="tab-pane fade in active col-xs-12" id="account" role="tabpanel">

                            <div class="preferences-icon-container hidden-xs hidden-sm col-md-4 text-center">
                                <i class="fa fa-user icon-huge icon-padding text-muted"></i>
                            </div>
<!-- account settings form -->
                            <form class="form-horizontal preferences-form" id="user-edit-account-form">
                                <fieldset>
<!-- Form name -->
                                    <legend class="sr-only">
                                        Account settings
                                    </legend>
<!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="emailAddress">Email address

                                        </label>
                                        <div class="col-md-4">
                                            <input class="form-control" name="emailAddress" placeholder="Email address" type="email" value="{{ userEmailAddress }}"></div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">
                                            Password
                                        </label>

                                        <div class="col-md-4">
                                            <button class="password-form-toggle btn btn-default" data-target="#password-form-container" data-toggle="modal">Change your password</button>
                                        </div>
                                    </div><hr>
<!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="profile.firstName">

                                            First name

                                        </label>
                                        <div class="col-md-4">
                                            <input class="form-control input-md" name="profile.firstName" placeholder="Ron" type="text" value="{{ user.profile.firstName }}"></div>
                                    </div>
<!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="profile.lastName">
                                            Last name

                                        </label>
                                        <div class="col-md-4">
                                            <input class="form-control input-md" name="profile.lastName" placeholder="Burgundy" type="text" value="{{ user.profile.lastName }}"></div>
                                    </div>
                                    <div class="modal fade" id="password-form-container">
                                        <div class="modal-dialog modal-md">
                                            <div class="modal-content">
                                                <div class="modal-header">

                                                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">
                                                        ×
                                                    </button>
                                                    <h4 class="modal-title">
                                                        Change password</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <form id="change-password">
                                                        <fieldset>
                                                            <legend class="sr-only">
                                                                Password change form
                                                            </legend>
<!-- Password input-->
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" for="current-password">Current password
                                                                </label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" data-autosave="false" id="current-password" name="current-password" placeholder="Current Password" type="password"></div>
                                                            </div>
<!-- Password input-->
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" for="new-password">
                                                                    New password

                                                                </label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" data-autosave="false" id="new-password" name="new-password" placeholder="New Password" type="password"></div>
                                                            </div>
<!-- Password input-->
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label" for="new-password-repeated">
                                                                    Repeat New Password

                                                                </label>
                                                                <div class="col-md-8">
                                                                    <input class="form-control" data-autosave="false" id="new-password-repeated" name="new-password-repeated" placeholder="Repeat New Password" type="password"></div>
                                                            </div>
                                                        </fieldset>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">

                                                    {{ #if passwordSubmitting }}
                                                    <button class="btn btn-flat btn-info" disabled="disabled">
                                                        Please wait&hellip;
                                                    </button>
                                                    {{ else }}
                                                    <button class="btn btn-success update-password" type="button">Update password</button>
                                                    {{ /if }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="tab-pane fade col-xs-12" id="notifications" role="tabpanel">

                            <div class="preferences-icon-container hidden-xs hidden-sm col-md-4 text-center">
                                <i class="fa fa-bell icon-huge icon-padding text-muted"></i>
                            </div>
                            <form class="form-horizontal preferences-form" id="user-edit-account-form">
                                <fieldset>
<!-- Form Name -->
                                    <legend class="sr-only">
                                        Notifications settings
                                    </legend>
                                    <div class="form-group">

                                        <div class="col-md-offset-4 col-md-8">
                                            <div class="checkbox">
                                                <label><input checked="{{user.preferences.enableDesktopNotifications}}" name="preferences.enableDesktopNotifications" type="checkbox">

                                                    Show desktop notifications?
                                                </label>
                                            </div>
                                            <div class="col-xs-offset-2">
                                                {{ #if user.preferences.enableDesktopNotifications }}
                                                {{ #if desktopNotificationsEnabled }}
                                                <p class="text-muted">
                                                    This site has been granted permission to display desktop notifications on this browser.
                                                </p>
                                                {{else}}
                                                {{ #if desktopNotificationsPermissionRequested }}
                                                <p class="text-muted">You should see a browser dialog asking you to grant or deny permission. Once you have granted permission, you can refresh this page to check permission has been granted.</p>
                                                {{ else }}
                                                <p class="text-muted">
                                                    Desktop notifications are disabled in your browser. Please enable them.</p>
                                                <button class="btn btn-warning vertical-space desktop-notifications-enable">
                                                    <i class="fa fa-bell"></i>
                                                    Allow desktop notifications in browser</button>{{ /if }}
                                                {{ /if }}{{ /if }}</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-4 col-md-8">
                                            <div class="checkbox">
                                                <label>
                                                    <input checked="{{user.preferences.enableAudioNotifications}}" name="preferences.enableAudioNotifications" type="checkbox">
                                                    Play audio notifications?

                                                </label>
                                            </div>
                                            {{ #if user.preferences.enableAudioNotifications }}
                                            <div class="notification-options-container col-xs-offset-2">
                                                <div id="audio-notification-volume">
                                                    <div class="form-group">
                                                        <label class="col-xs-12 control-label" for="preferences.audioNotificationsVolume">
                                                            <p class="text-left">
                                                                Audio volume
                                                            </p>
                                                        </label>
                                                        <div class="col-md-4">
                                                            <input class="form-control input-md slider" data-slider-max="100" data-slider-min="0" data-slider-step="5" data-slider-value="{{ user.preferences.audioNotificationsVolume }}" name="preferences.audioNotificationsVolume" type="number"></div>
                                                    </div>
                                                </div>
                                                <div class="vertical-space" id="sound-effect-work-completed">
                                                    <strong>
                                                        Work completed sound
                                                    </strong>
                                                    {{# each soundEffectWorkCompletedOptions }}
                    {{ > soundEffectOption option=this user=../user }}
                  {{ /each }}
                </div>

                <div id="sound-effect-break-completed" class="vertical-space">
                  <strong>Break completed sound</strong>
                  {{# each soundEffectBreakCompletedOptions }}
                    {{ > soundEffectOption option=this user=../user }}
                  {{ /each }}
                </div>
              </div>
            {{ /if }}
          </div>
        </div>

        </fieldset>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane fade col-xs-12" id="timers">
        <div class="preferences-icon-container hidden-xs hidden-sm col-md-4 text-center">
          <i class="fa fa-clock-o icon-huge icon-padding text-muted"></i>
        </div>

        <form id="user-edit-account-form" class="form-horizontal preferences-form">
        <fieldset>

        <!-- Form Name -->
        <legend class="sr-only">Timers settings</legend>

        <!-- Appended Input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="preferences.defaultTimerDurationWork">Default work duration</label>
          <div class="col-md-4">
            <div class="input-group">
              <input id="default-work-minutes" name="preferences.defaultTimerDurationWork" class="form-control" data-convert-before-save="minutesToSeconds" placeholder="25" type="number" value="{{ convertSecondsToMinutes user.preferences.defaultTimerDurationWork }}">
              <span class="input-group-addon">mins</span>
            </div>
          </div>
        </div>
        <!-- Appended Input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="preferences.defaultTimerDurationBreak">Default break duration</label>
          <div class="col-md-4">
            <div class="input-group">
              <input id="default-work-minutes" name="preferences.defaultTimerDurationBreak" class="form-control" data-convert-before-save="minutesToSeconds" placeholder="5" type="number" value="{{ convertSecondsToMinutes user.preferences.defaultTimerDurationBreak }}">
              <span class="input-group-addon">mins</span>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-4">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="preferences.includeLongBreaks" checked="{{user.preferences.includeLongBreaks}}"> Include periodic long breaks?
              </label>
            </div>
          </div>
        </div>
        {{ #if user.preferences.includeLongBreaks }}
          <div class="long-breaks-options-container col-xs-12">
            <!-- Appended Input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="preferences.defaultTimerDurationLongBreak">Default long break duration</label>
              <div class="col-md-4">
                <div class="input-group">
                  <input id="default-work-minutes" name="preferences.defaultTimerDurationLongBreak" class="form-control" data-convert-before-save="minutesToSeconds" placeholder="15" type="number" value="{{ convertSecondsToMinutes user.preferences.defaultTimerDurationLongBreak }}">
                  <span class="input-group-addon">mins</span>
                </div>
              </div>
            </div>

            <!-- Appended Input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="preferences.shortBreaksBeforeLongBreaks">How many short breaks before a long break?</label>
              <div class="col-md-4">
                <div class="input-group">
                  <input id="default-work-minutes" name="preferences.shortBreaksBeforeLongBreaks" class="form-control" placeholder="3" type="number" value="{{ user.preferences.shortBreaksBeforeLongBreaks }}">
                  <span class="input-group-addon">short breaks</span>
                </div>
              </div>
            </div>
          </div>
        {{ /if }}

        <div class="form-group">
          <div class="col-md-offset-4 col-md-4">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="preferences.autoContinueToBreak" checked="{{user.preferences.autoContinueToBreak}}"> Auto-start break after work phase complete?
              </label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-4">
            <div class="checkbox">
              <label>
                <input type="checkbox" name="preferences.autoStartNewTimer" checked="{{user.preferences.autoStartNewTimer}}"> Auto-start new timer after break phase complete?
              </label>
            </div>
          </div>
        </div>

        </fieldset>
        </form>
      </div>
    </div>

    <div class="clearfix row">
      <div class="col-xs-12">
        <hr>
        {{ # if allChangesSaved }}
          <button class="btn btn-success pull-right" disabled="true">Up to date</button>
        {{ else }}
          <button class="btn btn-success pull-right save-preferences">Save</button>
        {{ /if }}
      </div>
    </div>

  </div>
  </div>
  </div>
  </div>
</template>
